@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Diego Sarria</h1>
    <p><a href="" class="btn btn-primary btn-lg">Testando novo sistema de Cadastro em ASP Net Core</a></p>
</div>